*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 1em;
  font-family: Arial, Helvetica, sans-serif;
}
h1{
  font-size: 4rem;
}
h2{
  font-size: 3rem;
  padding:1rem;
  background-color:rgba(256,256,240,0.4);
}
h3{
  font-size: 1.5rem;
}

/* div{
  outline: 1px solid white;
} */

.page{
  width:auto;
  margin: 0 auto;
}
.header{
  color:white;
  background:black;
  display: flex;
  justify-content: space-between;
  background-image: url(../img/tile_bg.png);
}
.header > *{
  margin: 1rem;
}
.main{
  display: flex;
  justify-content: space-between;
}

.main_col_left{
  flex-basis: 30%;
  background-color:rgba(190,210,210,0.4);
  margin:1rem 0;
  margin-left:1rem;
  margin-right:0.5rem;
  border-radius: 0 0 16px 16px;
}
.main_col_right{
  flex-basis: 70%;
  background-color:rgba(190,200,240,0.4);
  margin:1rem 0;
  margin-left:0.5rem;
  margin-right:1rem;
  border-radius: 0 0 16px 16px;
}

.list_chunk{
  display: flex;
  justify-content: flex-end;
  align-items:center;
  margin-bottom: 1rem;
}

.item_chunk{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}
.item-text{
  font-size:1.7rem;
}

.item-text-container{
  margin:0 2rem;
  width:90%;
  padding: 2rem 6rem 2rem 2rem;
  background-color:rgba(210,240,248,0.7);
  box-shadow: 8px 8px 16px rgba(100,100,128,0.3);
  border-radius: 16px;
}


.group_col{
  display: flex;
  flex-direction: column;
}

.group_row{
  display: flex;
  flex-direction: row;
  align-items: center;
}

.list_name_container{
  cursor: pointer;
  padding:1rem 2rem;
  margin: 0.5rem;
  background-color:rgba(256,256,240,0.7);
  box-shadow: 8px 8px 16px rgba(100,100,128,0.3);
  border-radius:16px;
}

button{
  margin: 1px;
  padding: 4px 8px;
  color: black;
  background: rgba(240,256,240, 0.5);
  border: 1px solid black;
  outline: 8px solid rgba(240,256,240, 0.5);
  outline-offset: -4px;
  outline-style:groove;
  outline-width: 3px;
  border-radius: 8px;
  text-align: center;
  text-decoration: none;
  display: inline;
  font-size: 1rem;
  cursor:pointer;
}
button:hover{
  color:rgb(240,256,190);
  background: black;
  color:rgb(240,256,190);
  cursor:pointer;
}

.header button{
  padding:0.7rem;
  margin:1rem;
  color: black;
  background-color: rgba(220,200,230,1);
  border:2px solid black;
  outline:none;
}
.header button:hover{
  color: white;
  background-color: black;
}

.selected{
  color:rgb(240,256,190);
  background:black;
  padding:1rem;
  border-radius: 16px;
}

.check_container{
  min-width:8rem;
  margin:2rem 0 2rem 2rem;
}
.check_container > p{
  text-align: center;
  margin-left:2px;
}

.checkbox{
  padding:2px;
  cursor:pointer;
  width:48px;
  height:48px;
  background-image: url(../img/checkmark_bg.png);
  background-repeat: no-repeat;
  background-position: left;
  flex-basis:48px;
}
.checked{
  background-position: right;
}