*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 1em;
  font-family: Arial, Helvetica, sans-serif;
}
h1{
  font-size: 4rem;
}
h2{
  font-size: 3rem;
}
h3{
  font-size: 1.5rem;
}

div{
  outline: 1px solid white;
}

.page{
  width:auto;
  margin: 0 auto;
}
.header{
  color:white;
  background:black;
  display: flex;
  justify-content: space-between;
}
.header > *{
  margin: 1rem;
}
.main{
  display: flex;
  justify-content: space-between;
}

.main_col_left{
  flex-basis: 30%;
  background:#ccc;
  margin:1rem 0;
  margin-left:1rem;
  margin-right:0.5rem;
}
.main_col_right{
  flex-basis: 70%;
  background:#ccc;
  margin:1rem 0;
  margin-left:0.5rem;
  margin-right:1rem;
}

.list_chunk{
  display: flex;
  justify-content: flex-end;
  align-items:center;
  margin-bottom: 1rem;
}

.item_chunk{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}

.group_col{
  display: flex;
  flex-direction: column;
}

.group_row{
  display: flex;
  flex-direction: row;
  align-items: center;
}

.list_name_container{
  width: 100%;
  cursor: pointer;
  padding:1rem 2rem;
}

button{
  margin: 1px;
  padding: 4px 8px;
  color: black;
  background: white;
  border: 1px solid black;
  border-radius: 8px;
  text-align: center;
  text-decoration: none;
  display: inline;
  font-size: 1rem;
  cursor:pointer;
}
button:hover{
  color:white;
  background: black;
  border-color: white;
  cursor:pointer;
}

.selected{
  color:white;
  background:black;
}

.check_container{
  margin:1rem;
}
.check_container > p{
  text-align: center;
  margin-left:2px;
}

.checkbox{
  padding:2px;
  cursor:pointer;
  width:48px;
  height:48px;
  background-image: url(../img/checkmark_bg.png);
  background-repeat: no-repeat;
  background-position: left;
  flex-basis:48px;
}
.checked{
  background-position: right;
}